

//sass --watch C:/code/Source/mobile/webserver/responsiveUI/settings/app/sass/main.scss:C:/code/Source/mobile/webserver/responsiveUI/settings/app/css/main.css



// Font Weights

$fontBold:700;
$fontSemiBold:600;
$fontReg:400;
$fontLight:300;

// header color
$visaDarkBlue:#1d4a69;
$headerColor:$visaDarkBlue;
$authHeaderBlue:$visaDarkBlue;

$visaYellowOrange:#f1ae2c;
$iconBlue:#4c9dd2;

$lightgraybackground:#f2f2f2;
$mediumgrayborder:#e7e7e7;

$verylightcolor:#fff;
$gray:#f2f2f2;


/*
// Font Weights
$fontBold:700;
$fontSemiBold:600;
$fontReg:400;
$fontLight:300;

// DARK //////////////
$visaDarkBlue:#387b2b;
$headerColor:$visaDarkBlue;
$authHeaderBlue:$visaDarkBlue;

// ICON //////////////
$iconBlue:#63d84b;

// LIGHT  //////////////
$visaYellowOrange:#ffdd00;


// GRAYS  //////////////
$lightgraybackground:#f2f2f2;
$mediumgrayborder:#e7e7e7;
*/
