<div style="justify-content: center;display: flex;align-items: center;">
  
        <div class="panel panel-default">
          <div class="panel-heading bg-custom">
              <h3 class="panel-title " style="text-align: center">Fraud
              </h3>
          </div>
            <div class="panel-body">
                <div class="divBox">
<p class="boldText">$599999.99</p>
<p class="boldText">Fraud Pending</p>
<button type="button"  class="buttonCss">Accept</button>
<button type="button" style="background-color: rgb(173, 41, 41);" class="buttonCss">Decline</button>
                </div>
               
            </div>
        </div>
    
    </div>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.1.1-dist/css/bootstrap.css" />
    <script type="text/javascript" src="lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-0.10.0.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.10.0.js"></script>
    <style>
        .divBox {
            border-radius: 25px;
            background:lightgray;
            padding: 10px; 
            width: 300px;
            height: 100px; 
            margin-top: 1%;
            text-align: center;
            line-height: 5px;
        }
        .boldText{
            font-size: 18px;
        }
        .buttonCss{
            background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        }
    </style>