
<style>

.floatright{float:right;}
#transDetMainDiv div{white-space:nowrap;overflow:hidden;}
</style>

<!--/// CONTROLLER /////////////////////////////////////////////////// -->
<div ng-controller="transactionDetail" id="transDetMainDiv">
		
	<!--/// MAIN PANEL /////////////////////////////////////////////////// -->
	<div class="panel panel-custom">
		<div class="panel-heading bg-custom">
			<h3 class="panel-title">Transaction Details</h3>
		</div>
		<div class="panel-body" id="transactionDetails">

		<!--/// TOP DETAILS /////////////////////////////////////////////////// 
		<div class="row">
			<div class="col-xs-4 text-center">{{transObject.submitTimeLocal}}</h6></div>
			<div class="col-xs-4 text-center">2:20PM PDT</h6></div>
			<div class="col-xs-4 text-center"><b></b></h6></div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right graytext">Status:</div>
			<div class="col-xs-6"><b>{{transObject.transactionStatus}}</h6></b></div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right graytext">Transaction ID:</div>
			<div class="col-xs-6"><b>{{transObject.transId}}</h6></b></div>
		</div>
-->


		<div class="row mainrow" ng-show="viewTransactionSuccessMessage != ''" id="viewTransactionSuccessMessage">
			<div class="col-xs-12 text-left">
				<div class="alert alert-success" role="alert">
					{{viewTransactionSuccessMessage}}
				</div>
			</div>
		</div>


		<div class="row mainrow">
			<div class="col-xs-6 text-left graytext">Transaction ID:<b>{{transObject.transId}}</b></div>
			<div class="col-xs-6 text-left graytext">Date:<b>{{transObject.submitTimeUTC}}</b></div>

		</div>

		<div class="row mainrow">
			<div class="col-xs-6 text-left graytext">Total:<b>{{transObject.settleAmount | currency:"$"}}</b></div>
			<div class="col-xs-6 text-left graytext">Status:<b>{{transObject.transactionStatus}}</b></div>
		</div>

		<div class="row mainrow">
			<div class="col-xs-6 text-left graytext">Time:<b>2:20PM PDT</b></div>
			<div class="col-xs-6 text-left graytext"></div>
		</div>

		<!--/// RECIEPT /////////////////////////////////////////////////// -->
		<div class="panel panel-default" id="receiptID">
			<div class="panel-heading gray-panel-heading">
				<div class="panel-title">
					<span class="viewTransButtonBar fakelink">Customer Receipt</span>
						<button ng-show="currentTransType==='Unsettled'||currentTransType==='Settled'" data-toggle="modal" data-target="#myModal" 
						class="btn btn-custom-orange floatright" type="button">
							{{action=(currentTransType==='Unsettled'?'Void':'Refund')}} Transaction
						</button>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12"><b id="custRecName">{{transObject.billTo.firstName +" "+transObject.billTo.lastName}}</b></div>
				</div>
				<div class="row">
					<div class="col-xs-12 graytext">{{transObject.billTo.address}}</div>
				</div>
				<div class="row">
					<div class="col-xs-12 graytext">425-555-1212</div>
				</div>
				<div class="row">
					<div class="col-xs-4">{{transObject.submitTimeLocal}}</h6></div>
					<div class="col-xs-4">2:20PM PDT</div>
					<div class="col-xs-4"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-8">Goods/Services</div>
					<div class="col-xs-4 text-right"><b>{{transObject.settleAmount| currency:"$"}}</b></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-3 text-right">Subtotal:</h6></div>
					<div class="col-xs-3 text-right">{{transObject.settleAmount | currency:"$"}}</h6></div>
				</div>
				<div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-3 text-right">Sales Tax:</h6></div>
					<div class="col-xs-3 text-right">$0.00</h6></div>
				</div>
				<div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-3 text-right">Shipping:</h6></div>
					<div class="col-xs-3 text-right">$0.00</h6></div>
				</div><div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-3 text-right">Tip:</h6></div>
					<div class="col-xs-3 text-right">$0.00</h6></div>
				</div>
				<div class="row">
					<div class="col-xs-6"></div>
					<div class="col-xs-3 text-right"><b>Total:</b></div>
					<div class="col-xs-3 text-right"><b>{{transObject.settleAmount | currency:"$"}}</b></div>

				</div>
			</div>
		</div>
	</div>
	<h3 class="panel-title backbutton" onclick="window.history.back()" ><i class="fa fa-arrow-circle-left"></i> back</h3>

</div>
	
	<!--/// END - MAIN PANEL /////////////////////////////////////////////////// -->

	<!--/// MODAL CANCEL /////////////////////////////////////////////////// -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-body">
	      	Are you sure you want to {{action}} the transaction?
	      
	      <div class="text-right">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" ng-click="actionHandler()" class="btn btn-custom" data-dismiss="modal">Yes</button>
	    </div>
			</div>
	    </div>
	  </div>

	</div>




</div>
<!--/// END -  CONTROLLER /////////////////////////////////////////////////// -->

