
<div  id="searchTransMainDiv">
  <div class="panel panel-default" id="mintSettings" ng-init="init();">
  <div class="panel-heading bg-custom">Merchant Settings Page</div>
    <div class="panel-body">
      <!--
      <br>
      Morinaga
      <br>
      <button ng-click="changeBrand('xxx')">CHANGE BRAND</button>
      <br>
      -->
      <br>
      John Deere
      <br>
      <button ng-click="changeBrand('JD')">CHANGE BRAND</button>
      <br><br>



<!--
  <script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('textInput').value=val; 
    }
    function changecolor(){
      var backgroundRGB = "rgb(" + $("#Red").val() + "," + $("#Green").val() + "," + $("#Blue").val() + ")";
      document.getElementById("swatch").style.backgroundColor = backgroundRGB;
    }
  </script>


    <input id="Red" type="range" name="rangeInput" min="0" max="255" style="width:200px;" onchange="changecolor();"><br>
    <input id="Green" type="range" name="rangeInput" min="0" max="255" style="width:200px;" onchange="changecolor();"><br>                                                       
    <input id="Blue" type="range" name="rangeInput" min="0" max="255" style="width:200px;" onchange="changecolor();"><br>


    <br>
    <div id="swatch" style="display:inline-block; width:100px; height:100px; background-color:rgb(255,0,0)"></div>
  -->
  </div>
</div>
