<div class="jumbotron">
    <h1>About Page</h1>
    <div class="panel" id="panel_overview">
	    <h1 class="pagetitle">Accept Payments Online<br>From Anywhere</h1>
	    <ul class="checkmarks">
	     	<li>Credit Card Processing</li>
	     	<li>Fraud Prevention</li>
	     	<li>Subscription Billing</li>
	     	<li>Payment Tokenization</li>
	    </ul>
     	<p>Authorize.Net makes accepting credit card payments and e-checks safe, easy and affordable.<br><br><a href="/solutions/merchantsolutions/" class="white_triangle">Learn More About<br>Accepting Payments</a></p>
    </div>
    <p><a class="btn btn-lg btn-success" href="#" role="button">More Setting!!</a></p>
 </div>