<form class="form col-md-12 center-block" ng-hide="showLoginForm">
    <div ng-show="showForgotPasswordForm">
        Please provide your Login ID and Email Address and click Submit. You must provide one of the email addresses configured for your user account.
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Login ID">
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-lg" placeholder="Email Address">
        </div>
        <div class="form-group">
            <button class="btn btn-custom btn-lg btn-block" ng-click="showForgotPasswordForm=false">Submit</button>
            <span class="col-sm-4" style="display:inline;"><a  ng-click="showLoginForm=true">Back To Login</a></span>
        </div>
    </div>
    <div ng-hide="showForgotPasswordForm">
        <div>OK, we sent you an email, go get it and click the link.</div>
        <div><a  ng-click="finishedResetPassword()">Back To Login</a></div>
    </div>
</form>