<centered> 
<div id="loginPageID"  ng-controller="LoginController"><!-- Login Page -->
  <div class="panel panel-default">
    	<div class="panel-body">
  		
        <button class="btn btn-custom btn-lg btn-block btn-block-center" ui-sref="OAuthLogin">Sign In</button>
      </div>
  </div>

  <!-- <div class="panel panel-default hidden-xs">
    	<div class="panel-body heading text-center">
    		<img style="width:100%;" src="assets/img/savings_edge.jpg">
      
    	</div>
  </div> -->

</div> 
</centered>