<div headerbar ng-show="isAuthenticated" class="visible-xs"></div>
<div class="panel panel-default">
    
      <div class="panel-body">

          <ul class="list-group innergraytoptable" ng-click="setTransactionType($event)">
              <li class="list-group-item"><a >Payment</a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>

              <li class="list-group-item"><a>Refund</a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>


              <li class="list-group-item"><a>Fraud</a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>


              <li class="list-group-item"><a>Customers</a>
                  <div class="pull-right"><input type="checkbox" value=""></div>
              </li>
              <li class="list-group-item"><a>Subscriptions</a>
                <div class="pull-right"><input type="checkbox" value=""></div>
            </li>
          </ul>
      </div>



  </div>
  <button  ui-sref="hackDashboard" class="btn btn-custom center-block" ng-click="isAuthenticated=true;">Subscribe</button>
  <script>
       var jsonString = '{"type": "Fraud","value":"Payment of $500 Looks Suspicious", "transactionID":"5682365489"}' ;
  
  window.setTimeout(window.sendtoNative(jsonString), 2000);

  </script>