<div class="panel panel-default">
    
      <div class="panel-body">

          <ul class="list-group innergraytoptable" ng-click="setTransactionType($event)">
              <li class="list-group-item"><a name="Payment"></a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>

              <li class="list-group-item"><a>Refund</a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>


              <li class="list-group-item"><a>Fraud</a>
                  <div style="float:right"><input type="checkbox" value=""></div>
              </li>


              <li class="list-group-item"><a>Customers</a>
                  <div class="pull-right"><input type="checkbox" value=""></div>
              </li>
              <li class="list-group-item"><a>Subscriptions</a>
                <div class="pull-right"><input type="checkbox" value=""></div>
            </li>
          </ul>
      </div>

  </div>