<div><p>The following sections provide access to your payment gateway integration and Merchant Interface settings.  For help with configuring these settings,	click the Help link in the top right corner of each settings page.	</p></div>
<div class="panel-group" id="accordionSettings">
    <div  class="panel panel-default">
      <div class="panel-heading bg-custom">
          <a data-toggle="collapse" data-parent="#accordionSettings" href="#collapseSettings1" onclick="return false;">
            <div class="container">Transaction Format Settings</div>
          </a>  
      </div>
      <div id="collapseSettings1" class="panel-body panel-collapse collapse">
         <ul class="nav" >
		    <li><a href="">Partial Authorization</a></li>
		 </ul> 
      </div>
    </div>

    <div  class="panel panel-default">
      <div class="panel-heading bg-custom">
          <a data-toggle="collapse" data-parent="#accordionSettings" href="#collapseSettings2" onclick="return false;">
            <div class="container">Security Settings</div>
          </a>  
      </div>
      <div id="collapseSettings2" class="panel-body panel-collapse collapse in">
          <ul class="nav" >
		    <li><a ui-sref="mobileDeviceManagement">Mobile Device Management</a></li>
		    <li><a href="">Test Mode</a></li>
		    <li><a href="">MD5+Hash</a></li>
		    <li><a href="" class="active">API Login ID and Transaction Key</a></li>
		    <li><a href="">Transaction Details API</a></li>
		    
		</ul> 
         
      </div>
    </div>

    <div  class="panel panel-default">
      <div class="panel-heading bg-custom">
          <a data-toggle="collapse" data-parent="#accordionSettings" href="#collapseSettings3" onclick="return false;">
            <div class="container">Business Settings</div>
          </a>  
      </div>
      <div id="collapseSettings3" class="panel-body panel-collapse collapse ">
         <ul class="nav" >
		    <li><a href="">Transaction Cut-Off Time</a></li>
        <li><a ui-sref="branding">Branding</a></li>
        <li><a ui-sref="translate">Translate</a></li>
		   
		</ul> 
         
      </div>
    </div>
</div>        
