/*

// Font Weights
$fontBold:700;
$fontSemiBold:600;
$fontReg:400;
$fontLight:300;

// header color
//$visaDarkBlue:#1A1F71;

$visaDarkBlue:#1d4a69;
$headerColor:$visaDarkBlue;
$authHeaderBlue:$visaDarkBlue;

$visaYellowOrange:#f1ae2c;
$iconBlue:#4c9dd2;

$lightgraybackground:#f2f2f2;
$mediumgrayborder:#e7e7e7;

*/
/* line 5, ../sass/main.scss */
body {
  padding-top: 10px;
  background-color: #fff;
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

/* line 11, ../sass/main.scss */
#sidebar {
  height: 100%;
  padding-right: 0;
  z-index: 3;
  margin-top: 4px; }

/* line 16, ../sass/main.scss */
#sidebar .nav {
  /*width: 95%;*/ }

/* line 19, ../sass/main.scss */
#sidebar li {
  border-bottom: 1px solid #ddd;
  margin: 0 10px; }

/* line 23, ../sass/main.scss */
.mainMenu {
  background-color: grey; }

.csv-data-link-span {
  position: relative;
  left: -89px;
  top: 11px; }

/* line 27, ../sass/main.scss */
.menuHeading {
  color: #4c1d68 !important;
  font-family: Arial !important;
  font-weight: bold !important;
  font-size: 11pt !important; }

.backbutton {
  float: left;
  position: relative;
  cursor: pointer;
  top: 21px;
  left: 24px;
  cursor: pointer; }

/* line 33, ../sass/main.scss */
.menuHeading:focus, .menuHeading:hover {
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none !important;
  text-decoration: none !important;
  -moz-text-decoration-style: solid;
  background-color: #EEEEEE;
  color: #4c1d68 !important; }

h3.panel-title {
  font-weight: bold; }

h3.panel-title.centeredtitle {
  text-align: center;
  font-weight: bold; }

#logoimgdiv {
background: url(../../assets/img/grosscandy2.PNG);
display: inline-block;
width: 320px;
height: 101px;
margin: -29px 0;
}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 5px; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -76%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 75%;
    /* 6 columns */
    padding-right: 5px; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%;
    /* 6 columns */ }

  /* line 74, ../sass/main.scss */
  #sidebar {
    padding-top: 0;
    padding-right: 3px; }

  /* line 80, ../sass/main.scss */
  /* line 86, ../sass/main.scss */
  #sidebar .nav > li:first-child {
    border-top: 0; }

  /* line 92, ../sass/main.scss */
  #sidebar .nav > li > a > img {
    max-width: 14px; }

  /* line 95, ../sass/main.scss */
  #sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    text-decoration: none; }

  /* line 100, ../sass/main.scss */
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff; }

  /* line 104, ../sass/main.scss */
  #sidebar .nav a:hover .caret {
    border-top-color: #fff; }

  .shadeHide {
    display: none !important; }

  .shadeShow {
    display: block !important; }

  /*///////////  NAVIGATION MENU ///////////////////////////////*/
  #sidebar li {
    border-bottom: 0;
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #555; }

  #sidebar .panel.panel-default .panel-heading {
    background-color: #3e4557 !important; }

  #menuController .panel-default > .panel-heading span {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    color: #A4A0AC  !important;
    text-shadow: -2px 1px 5px #292929;
    cursor: pointer; }

  #menuController .panel-collapse {
    background-color: #32394A;
    /* really darkgray */ }

  #menuController .panel-collapse a {
    color: #fff;
    /*  very light gray */ }

  .panel-collapse ul li a :hover {
    background-color: #262C3A; }

  #sidebar .panel-body {
    padding: 0; }

  #sidebar .panel {
    background-color: #fff;
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-bottom-color: #555; }

  #sidebar .panel-group .panel + .panel {
    margin-top: 0; }

  #sidebar .panel-group .panel-heading + .panel-collapse .panel-body {
    border: 0 #ffeafd solid;
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #555; }

  #sidebar .panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  #sidebar .panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 0; }

  .glyphicon {
    color: white; }

  /*   /// MENU FULL HEIGHT - dark //////// */
  html, body, #wrapper {
    height: 100%;
    padding: 0; }

  #wrapper {
    background-color: white; }

  #sidebar {
    background-color: rgba(14, 21, 39, 0.53);
    padding: 0; }

  #maincanvas {
    display: block;
    height: 100%;
    min-width: 600px; }

  .ccvalidinputrow {
    height: 35px; }

  /*///////////  NAVIGATION MENU ///////////////////////////////*/ }
#wrapper.container {
  background-color: #fff !important;
  border: 1px solid #ddd; }

[ui-view] {
  height: 100%; }

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

[ui-view].ng-leave {
  left: 0; }

[ui-view].ng-leave-active {
  left: -100%; }

[ui-view].ng-enter {
  left: 100%; }

[ui-view].ng-enter-active {
  left: 0; }

.gridStyle {
  border: 1px solid #d4d4d4;
  position: relative; }

#loginPageID {
  max-width: 350px;
  display: inline-block; }

.angular-center-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 5;
  background-color: whitesmoke; }

.angular-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 100px; }

.loaderbg {
  background-image: url("../assets/img/ajax-loader.gif");
  background-repeat: no-repeat;
  position: relative;
  top: 40%;
  left: 30%;
  height: 32px;
  padding-left: 36px;
  padding-top: 5px; }

.loaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0px;
  z-index: 100; }

#searchTransMainDiv .gridStyle {
  background-image: url(../assets/img/gridback.png);
  background-size: 1px 60px;
  background-position: 1px 30px;
  background-repeat: repeat; }

#searchTransMainDiv .gridStyle .ngViewport {
  display: inline; }

#searchTransMainDiv .col-md-5, #searchTransMainDiv .col-md-12, #searchTransMainDiv .col-md-2 {
  padding: 4px; }

#receiptID {
  /*margin: 0 10% 5%;
  margin: 0 20px;*/ }

#receiptID .panel-body {
  padding: 10px; }

#custRecName {
  color: #ef2da2;
  font-size: 18px; }

.lightblue {
  color: #ef2da2; }

#searchTransMainDiv .ngCellText.col0 {
  color: #ef2da2;
  font-weight: bold; }

.ngCellText span {
  cursor: pointer !important; }

#transactionDetails {
  padding: 15px;
  border: 1px solid #ddd; }

#transactionDetails .mainrow {
  padding: 7px 0; }

#shade {
  position: absolute;
  background: #000;
  height: 100%;
  z-index: 2;
  width: 100%;
  opacity: .5; }

.shadeHide {
  display: none; }

.shadeShow {
  display: none; }

body {
  margin: 0;
  padding: 0; }

#menuController {
  color: #fff; }

.badge {
  background-color: #19afea !important;
  display: inline-block;
  min-width: 10px;
  padding: 8px 11px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 16px;
  position: relative;
  top: -7px;
  border: 2px solid #cb9b3f; }

/* CUSTOM COLORS FOR MAIN ELEMENTS (.btn-custom ) */
.btn-custom {
  color: #fff !important;
  background-color: #4c1d68 !important;
  /* visa yellow */
  border-color: #16384F !important;
  /* visa yellow */ }

.btn-custom:hover {
  color: #fff !important;
  background-color: #4b9cd3 !important;
  /* visa yellow */
  border-color: #3785b6 !important;
  /* visa yellow */ }

.btn-custom-orange {
  color: #fff !important;
  background-color: #19afea !important;
  /* visa yellow */ }

.btn-custom:hover {
  /* so far, nothing spcified */ }

.btn-custom.disabled, .btn-custom[disabled], fieldset[disabled] .btn-custom, .btn-custom.disabled:hover, .btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover, .btn-custom.disabled:focus, .btn-custom[disabled]:focus, fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active, .btn-custom[disabled]:active, fieldset[disabled] .btn-custom:active, .btn-custom.disabled.active,
.btn-custom[disabled].active, fieldset[disabled] .btn-custom.active {
  background-color: #4c1d68;
  /* visa darkblue */ }

.btnmargin {
  margin: 10px; }

a, .fakelink {
  color: #4c1d68;
  font-weight: bold;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  color: #ef2da2;
  cursor: pointer; }

/*
a {
color: $headerColor;
cursor: pointer;
}
*/
.bg-custom .menuHeading, .bg-custom, .panel-custom > .panel-heading, .panel-default > .panel-heading {
  color: #fff !important;
  font-weight: 500 !important;
  font-family: Arial !important;
  font-size: 11pt !important;
  background-color: #4c1d68 !important;
  /* visa darkblue */
  /* border-color: $headerColor; visa darkblue */ }

/*  PANEL WORLD ##################################################################### */
.createTransFormTitle {
  margin-left: 10px; }

.searchtransrow {
  margin-top: 10px;
  text-align: right; }

.list-group.innergraytoptable {
  margin: 0 10px; }

.list-group.innergraytoptable .list-group-item {
  position: relative;
  display: block;
  padding: 19px 15px;
  margin-bottom: 0px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.list-group.innergraytoptable .list-group-item:last-child {
  border-bottom: 0 !important; }

#sidebar li:last-child {
  border-bottom: 0; }

.panel-heading.bg-custom.innergraytoptable {
  margin-bottom: 0;
  background-color: #ffeafd !important;
  color: #4c1d68 !important;
  border: 1px solid #bf99bc; }

.glyphicon {
  margin-right: 10px; }

#bubblename {
  height: 22px;
  background-color: #4c9dd2;
  white-space: nowrap;
  position: relative;
  top: -9px;
  margin-right: -101px;
  color: #fff;
  text-align: center;
  z-index: 2; }

#bubblenametable {
  float: right;
  margin-right: 40px;
  cursor: pointer; }

.mainpageheading {
  padding: 0 0; }

.menuicon {
  margin-right: 10px;
  float: left;
  font-size: 21px;
  color: #ef2da2;
  margin-top: 10px; }

.topbaricon {
  font-size: 24px;
  color: #4c9dd2;
  margin-right: 8px; }

.viewTransButtonBar {
  line-height: 34px; }

.orange {
  color: #19afea; }

.blue {
  color: #ef2da2; }

.nav > li > a:hover, .nav > li > a:focus {
  /* side nav link hover */
  background-color: transparent; }

/* small icons 
.iconsmall-dash{
  background: url(/assets/img/iconsmall-dash.png);
}
.iconsmall-virterm{
  background: url(/assets/img/iconsmall-virterm.png);
}
.iconsmall-settings{
  background: url(/assets/img/iconsmall-settings.png);
}
.iconsmall-transactions{
  background: url(/assets/img/iconsmall-transactions.png);
}

*/
.panel-group {
  /* this was really for the side nav */
  margin: 0 20px 20px 0; }

#pageheader {
  font-size: 25px;
  padding: 0 0 0 33px; }

.navbar {
  border-radius: 0;
  border: 0;
  margin-top: 0; }

.container {
  padding: 0; }

.panel, .panel-heading, .panel-group .panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0; }

.panel-body {
  padding: 0; }

.borderlesspanel {
  border: 0; }

.borderlesspanel .panel-heading {
  margin-bottom: 20px; }

.panel-default > .panel-heading.gray-panel-heading {
  background-color: #ffeafd !important;
  color: #4c1d68 !important; }

.bg-custom.gray-panel-heading {
  background-color: #ffeafd !important;
  color: #4c1d68 !important;
  height: 98px;
  padding-top: 20px; }

.panel-heading.bg-custom a {
  color: #4c1d68; }

.bg-custom .menuHeading, .bg-custom .menuHeading:hover {
  color: #fff !important; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.panel-custom .panel-body {
                         /*
border-bottom:1px solid #aaa;
border-left:1px solid #aaa;
border-right:1px solid #aaa;*/ }

.panel.panel-custom {
  border: 0; }

.panel-custom .nav-tabs > li.active > a {
  border: 1px solid #aaa;
  border-bottom-color: #fff; }

.panel-custom .nav-tabs {
  background-color: #F5F5F5;
  border-bottom: 1px solid #aaa; }

.panel-custom ul li a, .panel-custom ul li a:hover {
  background: #4c1d68;
  /* visa darkblue */
  color: #fff; }

.panel-custom .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0; }

/* Mint Settings Page */
#mintSettings input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  margin: 5px 5px 0 5px; }

/* /////// MODAL DIALOG DIRECTIVE /////////////// */
#myModal {
  top: 30%; }

/* ///////// INVOICE DETAILS //////////////////// */
.floatright {
  float: right; }

#transDetMainDiv div {
  white-space: nowrap;
  overflow: hidden; }

.grayback {
  background-color: #ccc;
  width: 161px; }

.underLineItems {
  border-top: 1px solid #ccc; }

.paddedThign {
  padding: 10px; }

#lineItemTable .titleRow td {
  background-color: #eeeeee;
  color: #000; }

#toprightsummary {
  min-width: 250px; }

.trscell {
  outline: 1px solid #e7e7e7; }

.trsLeft {
  background-color: #f8f8f8;
  font-size: 12px;
  line-height: 21px; }

.lightgraytitlebar {
  background-color: #CCC;
  border: 1px solid #999999;
  color: #000;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  padding: 4px; }

#termsAndConditions {
  position: absolute;
  font-size: 13px; }

.grayborder {
  border-bottom: 1px solid #e7e7e7; }

#lineitemarea {
  padding: 15px; }

.compactInvoiceList .totalamount {
  position: absolute;
  top: 21px;
  font-size: 24px;
  font-weight: bold; }

/* ///////// MERCHANT SETTINGS //////////////// */
#accordionSettings .container {
  color: #fff; }

/* ///////// CREATE INVOICE /////////////////// */
#lineItemDiv #titleRow div {
  background-color: #1a1f71;
  color: #fff; }

#lineItemDiv div {
  margin: 0;
  padding: 0; }

#lineItemDiv {
  padding: 0; }

#lineItemDiv input {
  width: 100%;
  height: 26px; }

.btn-block {
  width: 140px; }

.btn-block-center {
  margin: 0 auto; }

.gray {
  background-color: #eee;
  padding: 3px !important; }

.cell {
  border: 1px solid #B1B1B1;
  height: 28px; }

#lineItemDiv .col-xs-2 div, #lineItemDiv .col-xs-4 div {
  padding: 4px 0px 2px 9px; }

#titleRow div {
  margin: 0; }

.fieldsetBorderless {
  border: 0;
  height: 0; }

.fieldsetBorder {
  border: 1px solid #aaa;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 4px;
  margin-bottom: 12px; }

.compactfield {
  padding: 0 4px !important; }

.accordLink {
  cursor: pointer;
  font-weight: bold;
  color: #1a1f71; }

.accordLink:hover {
  color: #1a1f71; }

#accordFormArea {
  display: none; }

.accordFormareaopen {
  display: block !important; }

.accordFormareaclosed {
  display: none !important; }

/* ////////// COMPACT TRANSACTION LIST //////////// */
.compactTransListRow {
  padding: 5px; }

.compactTransListRow label {
  width: 100%; }

.compactTransListRow div {
  margin-bottom: 0; }

.compactTransListRow .totalamount {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  position: relative; }

.compactTransListRow .totalamount .amount {
  position: absolute;
  top: 29px; }

.iltitle {
  font-size: 12px;
  color: #999; }

.ilvalue {
  font-weight: bold; }

.even {
  background-color: #E9E9E9; }

.totalCell {
  position: relative;
  top: 34px;
  font-weight: bold;
  font-size: 20px; }

.graylabel {
  color: #8A8A8A;
  font-size: 12px; }

.lineitemrow {
  border: 1px solid #e7e7e7; }

/* ///////////  FIELDSETS  ////////////////////// */
fieldset {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 4px;
  margin-bottom: 12px; }

legend {
  width: auto;
  margin-bottom: 6px;
  border-bottom: 0;
  margin-left: 14px;
  font-size: 15px;
  font-weight: bold; }

/* ////////////// LOGIN //////////////// */
#loginHeader {
  width: 348px;
  height: 30px;
  background-color: #ffeafd;
  /* background: url(../assets/img/AuthorizeNetLogo.png); */
  background-position: 44px;
  margin: 0 0 11px -15px;
  background-repeat: no-repeat; }

#loginHeaderLogo {
  height: 30px;
  background: url(../assets/img/AuthorizeNetLogo.png);
  background-repeat: no-repeat;
  margin-left: 40px; }

#searchTransButton {
  display: inline-block; }

#footer {
  height: 40px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto; }

#footerinner {
  background-color: #ffeafd;
  height: 46px;
  border: 1px solid #ddd; }

#wrapper.container {
  background-color: #fff !important;
  border: 1px solid #ddd;
  margin-bottom: -46px; }

#footerimg {
  float: right;
  margin: 12px 10px 0 0;
  background: url("/assets/img/powered_simple.png");
  width: 194px;
  height: 19px; }
